<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>회원 로그인</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>로그인</h1>
<form method="post">
    <table th:align="center" border="1" th:cellspacing="0" th:cellpadding="0">
        <tr>
            <td bgcolor="orange" th:text="아이디"></td>
            <td><input name="username" type="text"></td>
        </tr>
        <tr>
            <td bgcolor="orange" th:text="비밀번호"></td>
            <td><input name="password" type="password"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="로그인">
            </td>
        </tr>
    </table>
</form>
</body>
</html>